.postac-sheet {
  font-family: "Cinzel", "Times New Roman", serif;
  background: #f4f0e6;
  color: #2a2a2a;
  --input-text-color: black;
  resize: auto;
  .window-content {
    overflow-y: scroll;
  }
  h3 {
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid #444;
    margin-bottom: 8px;
    padding-bottom: 4px;
  }
  input {
    color: black;
  }
  .sheet-body {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr;
    grid-template-areas:
      "left center right"
      "bottom bottom bottom";
    gap: 10px;
    align-items: start;
  }

  .left-column {
    grid-area: left;
  }
  .center-column {
    grid-area: center;
  }
  .right-column {
    grid-area: right;
  }
  .bottom-row {
    grid-area: bottom;
  }
  .identity {
    display: grid;
    grid-template-columns: 1fr 5fr;
    column-gap: 30px;
    row-gap: 10px;
    align-items: center;
  }
  .left-column,
  .center-column,
  .right-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 88%;
  }

  section {
    background: linear-gradient(#f8f3e8, #f1e6d3);
    border: 4px solid #5c4a2e;
    padding: 5px;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    height: 100%;
  }
  .all-attribues {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  input,
  textarea {
    width: 100%;
    background: #fdfaf3;
    border: 1px solid #444;
    padding: 4px;
    font-family: inherit;
  }

  input[type="number"] {
    width: 60px;
    text-align: center;
    font-weight: bold;
  }

  textarea {
    resize: vertical;
    color: black;
    max-height: 20px;
    resize: none;
  }

  /* ============================= */
  /* CENTRAL ATTRIBUTE RING       */
  /* ============================= */

  /* ============================= */
  /* COMBAT                        */
  /* ============================= */

  .combat {
    label {
      display: block;
      margin-top: 6px;
      font-weight: bold;
    }
  }

  /* ============================= */
  /* RESOURCES                     */
  /* ============================= */

  .resources {
    input[type="number"] {
      width: 50px;
      font-size: 1.1em;
    }
  }

  /* ============================= */
  /* CONDITIONS                    */
  /* ============================= */

  .conditions {
    label {
      display: block;
      margin-top: 6px;
      font-weight: bold;
    }
  }

  /* ============================= */
  /* TALENTS                       */
  /* ============================= */

  .talents-list {
    display: flex;
    flex-direction: row;
    .talent{
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .telent-img{
            display: flex;
            max-width: 40px;
            background: #e2dbc9;
            border: 1px solid black;
            border-radius: 8px;
            align-items: center;
    }
  }

  /* ============================= */
  /* EQUIPMENT                     */
  /* ============================= */

  .equipment {
    min-height: 300px;

    textarea {
      min-height: 250px;
    }
  }

  /* ============================= */
  /* WEAPONS TABLE                 */
  /* ============================= */

  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      border: 1px solid #5c4a2e;
      padding: 4px;
      text-align: center;
    }

    th {
      background: #e6dcc6;
      font-weight: bold;
    }
  }

  /* ============================= */
  /* HEADER                        */
  /* ============================= */
  .image-container {
    display: flex;
    max-width: 130px;
    background: #e2dbc9;
    border: 4px solid black;
    border-radius: 20px;
    align-items: center;
  }
  .sheet-header {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .identity label,
  .personal-goals label {
    font-weight: bold;
    display: block;
    margin-top: 6px;
  }
  .attributes {
    display: flex;
    flex-wrap: wrap;
    gap: 40px; /* space between attribute groups */
  }

  .attribute-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 5px;
  }

  .attribute-main {
    display: flex;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    flex-direction: column;
  }

  .attribute-subskills {
    display: flex;
    gap: 20px; /* space between sub-skills */
    align-items: flex-end;
  }

  .skill {
    display: flex;
    flex-direction: column;
    width: 110px;
    align-items: center;
    a {
      display: flex;
      align-items: center;
      flex-direction: column;
      select {
        text-align: center;
      }
    }
  }

  .zycie-wrapper,
  .adrenalina-wrapper,
  .moc-wrapper {
    text-align: center;
    margin-top: 12px;
  }

  .zycie-label,
  .adrenalina-label,
  .moc-label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 2px;
    letter-spacing: 1px;
  }

  .zycie-track,
  .adrenalina-track,
  .moc-track {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .zycie-slot,
  .adrenalina-slot,
  .moc-slot {
    position: relative;
    width: 20px;
    height: 20px;
    display: flex;

    input {
      opacity: 0;
      position: absolute;
      width: 15px;
      height: 15px;
      cursor: pointer;
      margin: 0;
      z-index: 2;
    }

    .circle {
      width: 100%;
      height: 100%;
      border: 2px solid #2a2a2a;
      border-radius: 50%;
      background: #fdfaf3;
      transition: all 0.15s ease;
    }

    input:hover + .circle {
      transform: scale(1.08);
    }
  }
  .adrenalina-slot input:checked + .circle {
    background: #1f9d2f;
  }

  .zycie-slot input:checked + .circle {
    background: #f00404;
  }

  .moc-slot input:checked + .circle {
    background: #0000ff;
  }

  .zycie-zero {
    font-size: 26px;
    margin-right: 5px;
  }
  .conditions-wrapper {
    display: flex;
    flex-direction: column;
    .conditions-list {
      padding: 0px;
    }
  }

  .condition {
    display: grid;
    justify-content: flex-end;
    border: 2px solid black;
    border-radius: 10px;
    background: #e2dbc9;
    padding: 5px;
    grid-template-columns: 1fr 3fr 1fr;
    input {
      border: none;
      background: transparent;
      width: auto;
    }
    .icon {
      width: 24px;
    }
  }
}
.forsuj-button {
  margin-top: 10px;
  width: 100%;
}
.talenty-sheet {
    .image-container {
        display: flex;
        max-width: 130px;
        background: #e2dbc9;
        border: 4px solid black;
        border-radius: 20px;
        align-items: center;
        margin: 10px;
  }
  .talent-config {
    overflow-y: auto;
  }
  .glowne{
        display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 10px;
  }
  .enriched{
        border: 2px solid;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 20px;
    margin-top: 5px;
  }
  .opcje-talenty{
        display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;

  .form-group.checkbox {
        display: flex;
    justify-content: space-between;
  }
}
}
