<section class="tab czary lewa {{#if tabs.czary.active}} {{tabs.czary.cssClass}} {{else}} hiden {{/if}}"  action-data="tab"
  data-group="items" data-tab="czary">

  <h3>Czary</h3>
  <div class="czary-list">
  </div>
</section>