<section class="equipment">

  <label>Ekwipunek</label>
  {{formInput
          ekwipunek.field
          value=ekwipunek.value
          enriched=ekwipunek.enriched
          toggled="true"
        }}
</section>