<form class="{{cssClass}} flexcol" autocomplete="off">

  {{> "systems/wiedzmin_yze/templates/postac/header.hbs"}}

  <section class="sheet-body flexrow">

    <div class="left-column">
      {{> "systems/wiedzmin_yze/templates/postac/resources.hbs"}}
      {{> "systems/wiedzmin_yze/templates/postac/conditions.hbs"}}
      {{> "systems/wiedzmin_yze/templates/postac/weapons.hbs"}}
    </div>

    <div class="center-column">
      {{> "systems/wiedzmin_yze/templates/postac/attributes.hbs"}}
    </div>

    <div class="right-column">
      {{> "systems/wiedzmin_yze/templates/postac/talents.hbs"}}
      {{> "systems/wiedzmin_yze/templates/postac/equipment.hbs"}}
      {{> "systems/wiedzmin_yze/templates/postac/notes.hbs"}}
    </div>

  </section>
</form>
