<nav class="lewa sheet-tabs tabs" data-group="items">
  <a data-action="tab" data-tab="talenty" data-group="items">Talenty</a>
  <a data-action="tab" data-tab="bronie" data-group="items">Broń i Pancerz</a>
  {{#if (ne system.punkty_mocy.max 0)}}
    <a data-action="tab" data-tab="czary" data-group="items">Czary</a>
  {{/if}}
</nav>