<section class="resources">

  <label>Życie</label>
  {{formInput
    system.resources.zycie
    value=system.resources.zycie
    type="number"
  }}

  <label>Adrenalina</label>
  {{formInput
    system.resources.adrenalina
    value=system.resources.adrenalina
    type="number"
  }}

  <label>Punkty Mocy</label>
  {{formInput
    system.resources.punktyMocy
    value=system.resources.punktyMocy
    type="number"
  }}

  <label>Punkty Fabularne</label>
  {{formInput
    system.resources.punktyFabularne
    value=system.resources.punktyFabularne
    type="number"
  }}

</section>