<section class="weapons">

  <table>
    <thead>
      <tr>
        <th>Broń</th>
        <th>OBR</th>
        <th>Bonus</th>
        <th>Zasięg</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>

</section>