<section class="weapons">
  <label>Bronie</label>
  <table>
    <thead>
      <tr>
        <th>Broń</th>
        <th>OBR</th>
        <th>Bonus</th>
        <th>Zasięg</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
  <label>Pancerz</label>

</section>