<section class="weapons">

  <table>
    <thead>
      <tr>
        <th>Broń</th>
        <th>OBR</th>
        <th>Bonus</th>
        <th>Zasięg</th>
      </tr>
    </thead>
    <tbody>
      {{#each system.bron as |weapon i|}}
        <tr>
          <td>{{formInput weapon.nazwa value=weapon.nazwa}}</td>
          <td>{{formInput weapon.obr value=weapon.obr type="number"}}</td>
          <td>{{formInput weapon.bonus value=weapon.bonus}}</td>
          <td>{{formInput weapon.zasieg value=weapon.zasieg}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

</section>